---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=35.078&limit=5&lon=-106.5984&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - '0848f1b7-f042-48b8-ac96-e3a48f70f73c'
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - ecf2b218-2cfb-46f0-93ae-c3e94b463e3c
      X-Tomtom-Upstream-Service-Time:
      - '25'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":7,"numResults":5,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":35.078,"lon":-106.5984}},"results":[{"type":"POI","id":"9KWO-063BDvZD5huSf6FnQ","score":99.9105834961,"dist":89.417349,"info":"search:ta:840359000787908-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4100","streetName":"Central Avenue
        Southeast","municipality":"Albuquerque","neighbourhood":"Nob Hill","countrySecondarySubdivision":"Bernalillo","countrySubdivision":"NM","countrySubdivisionName":"New
        Mexico","countrySubdivisionCode":"NM","postalCode":"87108","extendedPostalCode":"87108-1161","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"4100 Central Avenue Southeast,
        Albuquerque, NM 87108","localName":"Albuquerque"},"position":{"lat":35.078804,"lon":-106.59842},"viewport":{"topLeftPoint":{"lat":35.0797,"lon":-106.59952},"btmRightPoint":{"lat":35.0779,"lon":-106.59732}},"entryPoints":[{"type":"main","position":{"lat":35.07904,"lon":-106.59838}}]},{"type":"POI","id":"zCkCLyNT3JUF8Kf5TsnodA","score":99.7622528076,"dist":237.745116,"info":"search:ta:840359000810929-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"3902","streetName":"Central Avenue
        Southeast","municipality":"Albuquerque","nei[...]
