---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=35.07904&limit=5&lon=-106.60068&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 915e379a-98bf-45bf-aba0-ad5443b0d2b0
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 426dbf41-6fc1-4b40-b61e-bfbdf5aaac71
      X-Tomtom-Upstream-Service-Time:
      - '55'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":39,"numResults":5,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":35.07904,"lon":-106.60068}},"results":[{"type":"POI","id":"zCkCLyNT3JUF8Kf5TsnodA","score":99.9995574951,"dist":0.445287,"info":"search:ta:840359000810929-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"3902","streetName":"Central Avenue
        Southeast","municipality":"Albuquerque","neighbourhood":"Nob Hill","countrySecondarySubdivision":"Bernalillo","countrySubdivision":"NM","countrySubdivisionName":"New
        Mexico","countrySubdivisionCode":"NM","postalCode":"87108","extendedPostalCode":"87108-1017","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"3902 Central Avenue Southeast,
        Albuquerque, NM 87108","localName":"Albuquerque"},"position":{"lat":35.079044,"lon":-106.60068},"viewport":{"topLeftPoint":{"lat":35.07994,"lon":-106.60178},"btmRightPoint":{"lat":35.07814,"lon":-106.59958}},"entryPoints":[{"type":"main","position":{"lat":35.07929,"lon":-106.60064}}]},{"type":"POI","id":"jvwh5MLpuIqr_n3e77cgjQ","score":99.8804550171,"dist":119.549795,"info":"search:ta:840359000635604-US","poi":{"name":"Columbus
        Data Services","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"3801","streetName":"Central Avenue
        Northeast","municipality"[...]
[...]
