---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-76.91682844989138&limit=5&lon=113.87969124828004&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - f7401d27-0529-4629-97cb-f9798d0dc8ea
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 47ec9c66-4324-43db-8029-213095e50f52
      X-Tomtom-Upstream-Service-Time:
      - '80'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":60,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-76.91682844989138,"lon":113.87969124828004}},"results":[]}'
  recorded_at: Fri, 17 May 2024 12:49:08 GMT
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-76.91682844989138&limit=5&lon=113.87969124828004&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 43f41ee1-88b2-455d-91d8-966cfaea24b5
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - b6b98d4f-1f87-41fc-b067-b3807a069f9c
      X-Tomtom-Upstream-Service-Time:
      - '29'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":15,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-76.91682844989138,"lon":113.87969124828004}},"results":[]}'
  recorded_at: Fri, 17 May 2024 12:49:08 GMT
recorded_with: VCR 6.2.0
