---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-64.893511701184&limit=5&lon=-9.732515011105562&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 851552ae-3122-4783-a6c2-bd75a57f4b2e
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 895e6a71-24e7-4766-8732-1e3405796d01
      X-Tomtom-Upstream-Service-Time:
      - '34'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":18,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-64.893511701184,"lon":-9.732515011105562}},"results":[]}'
  recorded_at: Thu, 16 May 2024 22:09:49 GMT
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-64.893511701184&limit=5&lon=-9.732515011105562&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - c5be1821-0612-49b3-8966-3e6e17727bbc
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 04f3864a-8eb1-48f0-a440-0b5bfd691bbf
      X-Tomtom-Upstream-Service-Time:
      - '33'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":16,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-64.893511701184,"lon":-9.732515011105562}},"results":[]}'
  recorded_at: Thu, 16 May 2024 22:09:49 GMT
recorded_with: VCR 6.2.0
