---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-43.98528226284289&limit=5&lon=65.19086674316941&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 4887ffff-18a2-46f9-b461-e1d0e1d52978
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 3a1f7f8c-6248-46e3-8eb9-15ac1eef566c
      X-Tomtom-Upstream-Service-Time:
      - '34'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":27,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-43.98528226284289,"lon":65.19086674316941}},"results":[]}'
  recorded_at: Fri, 17 May 2024 14:07:16 GMT
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-43.98528226284289&limit=5&lon=65.19086674316941&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 5d267cc5-9a98-4a32-92ac-2e6e50ebcfaf
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - e74858d4-8ace-45e2-9218-bbf38cf889fa
      X-Tomtom-Upstream-Service-Time:
      - '33'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":18,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-43.98528226284289,"lon":65.19086674316941}},"results":[]}'
  recorded_at: Fri, 17 May 2024 14:07:16 GMT
recorded_with: VCR 6.2.0
